@import "../../assets/Content/TeamCode.css";
@import "../../assets/Content/PagedList.css";
@import "../../assets/Content/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css";
@import "../../assets/Content/plugins/datepicker/datepicker3.css";
@import "../../assets/Content/plugins/toastr/toastr.min.css";
@import "../../assets/Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css";
@import "../../assets/Content/dist/css/adminlte.min.css";
@import "../../assets/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css";
@import "../../assets/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css";
@import "../../assets/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css";
@import "../../assets/Content/plugins/select2/css/select2.min.css";
@import "../../assets/Content/plugins/choose/chosen.min.css";
@import "../../assets/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css";
@import "../../assets/Content/plugins/fontawesome-free/css/all.min.css";
