<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Section search -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <b>Search</b>
                            </h3>
                        </div>
                        <div class="card-body pad">
                            <form [formGroup]="searchForm" >
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Username: </label>
                                            <input type="text" id="Username" formControlName="Username" (input)="Search(searchForm)" class="form-control form-control-xs" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Fullname: </label>
                                            <input type="text" id="Fullname" formControlName="Fullname" (input)="Search(searchForm)" class="form-control form-control-xs" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Email: </label>
                                            <input type="text" id="Email" formControlName="Email" (input)="Search(searchForm)" class="form-control form-control-xs" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            
        </div>
        <!--Section data table-->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>{{this.title}}</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-md-4">
                                <div class="col-lg-3 align-self-center text-right">
                                    <button id="btInsert" (click)="_InsertView()" type="button" class="btn bg-gradient-success"><i class="fa fa-plus"></i>&nbsp;Add record</button>&nbsp;
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-body table-responsive">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">List record account</legend>
                                    <div class="control-group">
                                        <table id="myTable" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="80px"></th>
                                                    <th >STT</th>
                                                    <th>User name</th>
                                                    <th>Full name  </th>
                                                    <th>Email </th>
                                                    <th>Account type </th>
                                                    <th>Phone number </th>
                                                    <th>Image </th>
                                                    <th>Is Locked </th>
                                                </tr>
                                            </thead>
                                
                                            <tbody>
                                              
                                                <tr *ngFor="let item of accountData; let i=index">
                                                    <td align="center">
                                                        <a (click)="lockAccount(item.id)" class="btn">
                                                            <i class="far fa-trash-alt"></i> Xóa
                                                        </a>
                                                    </td>
                                                    <td>{{i+1}}</td>
                                                    <td>{{item.userName}}</td>
                                                    <td>{{item.fullname}}</td>
                                                    <td>{{item.email}}</td>
                                                    <td>{{item.accoutType}}</td>
                                                    <td>{{item.phoneNumber}}</td>
                                                    <td><img  src="{{item.productImage}}"
                                                        class="img-responsive img-thumbnail" style="width:70px;height:70px"></td>
                                                    <td>{{item.isLocked}}</td>
                                                    
                                                </tr>
                                                  
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!--End section data table-->
    </div>
</section>


