<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Section search -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>Add record</b>
                        </h3>
                    </div>
                    <form [formGroup]="InsertSsdForm" (ngSubmit)="onSubmit(InsertSsdForm)">
                        <div class="card-body pad">
                            <div class="row">
                            
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Name: </label>
                                        <input type="text" id="name" formControlName="name" class="form-control form-control-xs" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Technical Data: </label>
                                      
                                        <select formControlName="technicalData" id="technicalData" class="form-control form-control-xs">
                                            <option value="64">64</option>
                                            <option value="128">128</option>
                                            <option value="256">256</option>
                                            <option value="512">512</option>
                                            <option value="1024">1024</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>unit: </label>
                                        <select formControlName="unit" id="unit" class="form-control form-control-xs">
                                            <!-- <option value="Kilobyte">Kilobyte</option>
                                            <option value="Megabyte">Megabyte</option> -->
                                            <option selected value="Gigabyte">Gigabyte</option>
                                            <!-- <option value="Terabyte">Terabyte</option>
                                            <option value="Petabyte">Petabyte</option>
                                            <option value="Exabyte">Exabyte</option>
                                            <option value="Zettabyte">Zettabyte</option>
                                            <option value="Yottabyte">Yottabyte</option> -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <button id="btnCraeate"  type="submit" [disabled]="!InsertSsdForm.valid" class="btn bg-gradient-success"><i class="fa fa-plus"></i> create</button>
                                </div>
                                <!-- /.form-group -->
                            </div>
                        </div>
                    </form>
                
                </div>
            
            </div>
                
        </div>
        <!--Section data table-->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>{{this.title}}</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-12 table-body table-responsive">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Danh sách Ssd</legend>
                                    <div class="control-group">
                                        <table id="myTable-SanPham" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="100px"></th>
                                                    <th >STT</th>
                                                    <th>Id</th>
                                                    <th>Ssd name  </th>
                                                    <th>Ssd technical </th>
                                                    <th>Unit </th>
                                                </tr>
                                            </thead>
                                
                                            <tbody>
                                              
                                                <tr *ngFor="let item of dataT; let i=index">
                                                    <td >
                                                        <!-- <a (click)="edit(item.id)" class="btn">
                                                            <i class="fas fa-edit"></i> Sửa
                                                        </a> -->
                                                        <a (click)="delete(item.id)" class="btn">
                                                            <i class="far fa-trash-alt"></i> Xóa
                                                        </a>
                                                        </td>
                                                    <td>{{i+1}}</td>
                                                     <td>{{item.id}}  </td>
                                                     <td>{{item.name}}  </td>
                                                     <td>{{item.technicalData}}  </td>
                                                     <td>{{item.unit}}  </td>
                                                </tr>
                                                  
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!--End section data table-->
    </div>
</section>


