
<form  >
    <div class="modal-header">
        <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="myModalTitle">{{NameWeb}} </strong></div>
    </div>
    <mat-dialog-content  class="mat-typography">
           <div class="row">
            <div class="col-lg-6 grid-margin stretch-card " style="min-width: 400px;">
                <dl class="row">
                    <dt class="col-sm-4">
                        Code Product
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.codeproduct}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        Name Product
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.nameproduct}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        nameProduce
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.nameProduce}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        nameCategory
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.nameCategory}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        cpuName
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.cpuName}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        descriptionproduct
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.descriptionproduct}}
                    </dd>
                </dl>
            </div>
            <div class="col-lg-6 grid-margin stretch-card " style="min-width: 400px;">
                <dl class="row">
                    <dt class="col-sm-4">
                        ramName
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.ramName}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        ssdName
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.ssdName}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        displayName
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.displayName}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        cardDisplayName
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.cardDisplayName}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        mainboar
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.mainboar}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        colorName
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.colorName}}
                    </dd>
                </dl>
    
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card " style="min-width: 400px;">
                <dl class="row">
                    <dt class="col-sm-4">
                        portConnection
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.portConnection}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        price
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.price}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        status
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.status}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        cardDisplayName
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.cardDisplayName}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        mainboar
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.mainboar}}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        colorName
                    </dt>
                    <dd class="col-sm-8">
                        {{this.dataProduct.colorName}}
                    </dd>
                </dl>
    
            </div>
        </div>
            
            
            
    </mat-dialog-content>


    <div class="modal-footer" mat-dialog-actions>
        <div class="text-right">
            <button mat-dialog-save id="btSave"  class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>&nbsp;
            <button mat-dialog-close  class="btn btn-danger btn-sm" ><i class="fa fa-close"></i>&nbsp;Close</button>
        </div>
    </div> 
</form>

