.pager_simple_orange{

}

    .pager_simple_orange table {
        width: auto !important;
    }

.pager_simple_orange .table-bordered {
    border: none;
}

.pager_simple_orange td{
	border: 0px !important;
}

.pager_simple_orange td{
    padding: 1px !important;
}

.pager_simple_orange a{
    text-decoration: none;
    font: 12px Arial;
    font-weight: normal;
    color: black;
    display: block;
    padding: 5px 10px;
    border: 1px solid #fe8c00;
    background-color: #ffd9b4;
}

.pager_simple_orange .active a, 
.pager_simple_orange a:hover{
    background-color: #fe8c00;
    color: White;
}