<form  [formGroup]="updateForm">
    <div class="modal-header">
        <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="myModalTitle">{{NameWeb}} </strong></div>
    </div>
    <mat-dialog-content  class="mat-typography">
            

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>nameSale</label>
                                <input type="text"  formControlName="nameSale" id="nameSale" class="form-control form-group-lg" value=""  > 
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>marth</label>
                                <input type="number" formControlName="marth" id="marth" class="form-control form-group-lg" placeholder="Please enter your nameDepot" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Unit</label>
                                <select  id="unit" formControlName="unit"class="form-control form-group-lg" >
                                    <option value="VND">VND</option>
                                    <option value="%">%</option>
                                    <option value="NguyenGia">Nguyên giá</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>descriptionSale</label>
                                <textarea  formControlName="descriptionSale" id="descriptionSale" class="form-control form-group-lg" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                   
                   
                </div>
            </div>
    </mat-dialog-content>


    <div class="modal-footer" mat-dialog-actions>
        <div class="text-right">
            <button mat-dialog-save id="btSave" (click)="onSubmitInsert(updateForm)" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>&nbsp;
            <button mat-dialog-close  class="btn btn-danger btn-sm" ><i class="fa fa-close"></i>&nbsp;Close</button>
        </div>
    </div> 
</form>

