<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Section search -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <b>Search</b>
                            </h3>
                        </div>
                        <div class="card-body pad">
                            <form  [formGroup]="searchForm">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>NameCity: </label>
                                            <input type="text" id="NameCity" (input)="Search(searchForm)" formControlName="NameCity" class="form-control form-control-xs" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            
        </div>
        <!--Section data table-->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>{{this.title}}</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-md-4">
                                <div class="col-lg-3 align-self-center text-right">
                                    <button id="btInsert"  (click)="_InsertView()" type="button" class="btn bg-gradient-success"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>&nbsp;
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-body table-responsive">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">List record account</legend>
                                    <div class="control-group">
                                        <table id="myTable" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="80px"></th>
                                                    <th >STT</th>
                                                    <th >Id</th>
                                                    <th>City name</th>
                                                    <th>Status </th>
                                                </tr>
                                            </thead>
                                
                                            <tbody>
                                              
                                                <tr *ngFor="let item of Data; let i=index">
                                                    <td align="center">
                                                        <a (click)="delete(item.id)" class="btn">
                                                            <i class="far fa-trash-alt"></i> Xóa
                                                        </a>
                                                    </td>
                                                    <td>{{i+1}}</td>
                                                    <td>{{item.id}}</td>
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.status==true?"Đang Tồn tại":"Không tồn tại"}}</td>
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!--End section data table-->
    </div>
</section>


