<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Section search -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>Search</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                           
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Định mức nguồn: </label>
                                    <input type="text" id="DinhMucNguon" name="DinhMucNguon" class="form-control form-control-xs" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Định mức đích: </label>
                                    <input type="text" id="DinhMucDich" name="DinhMucDich" class="form-control form-control-xs" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- /.form-group -->
                            <div class="form-group">
                                <button id="btnSearch" type="button" class="btn bg-gradient-primary"><i class="fa fa-search"></i> Tìm Kiếm</button>
                            </div>
                            <!-- /.form-group -->
                        </div>
                    </div>
                </div>
               
            </div>
            
        </div>
        <!--Section data table-->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>{{this.title}}</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-md-4">
                                <div class="col-lg-3 align-self-center text-right">
                                    <button id="btInsert" (click)="_InsertView()" type="button" class="btn bg-gradient-success"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>&nbsp;
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-body table-responsive">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Danh sách menu</legend>
                                    <div class="control-group">
                                        <table id="myTable-SanPham" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="80px"></th>
                                                    <th >STT</th>
                                                    <th>Menu name</th>
                                                    <th>parentId  </th>
                                                    <th>oder_no </th>
                                                    <th>icon </th>
                                                    <th>User create </th>
                                                    <th>User update </th>
                                                    <th>Date create </th>
                                                    <th>Date update </th>
                                                </tr>
                                            </thead>
                                
                                            <tbody>
                                              
                                                <tr *ngFor="let item of menus; let i=index">
                                                    <td align="center">
                                                    </td>
                                                    <td>{{i+1}}</td>
                                                     <td>{{item.menu_Name}}  </td>
                                                     <td>{{item.parentId}}  </td>
                                                     <td>{{item.oder_no}}  </td>
                                                     <td>{{item.icon}}  </td>
                                                     <td>{{item.idUsercreate}}  </td>
                                                     <td>{{item.idUserupdate}}  </td>
                                                     <td>{{item.created}}  </td>
                                                     <td>{{item.updated}}  </td>
                                                </tr>
                                                  
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!--End section data table-->
    </div>
</section>


